/* Menu - Navbar */

.darknav{
    /* background-color: #1A1D20; */
    background-color: black;
    color: #F5F5F1;
    font-family: 'Inter', sans-serif;
    padding: 20px 50px;
  }

.menubtns{
    margin: auto 10px;
}

.signoutbtn{
  margin: 5%;
  background-color: white;
  color: red;
  width: 50%
}

.inBlock{
  display: inline
}
