#admin-card{
    border-style: none;
    background-color: #1A1D20;
    font-weight: bold;
    color: white;
  }

.off-canvas-sidebar:after, .sidebar:after{
  background: linear-gradient(#0F121D, #0F121D) !important;
}

body {
  font-family: Roboto, sans-serif;
}

.footer {
  flex-shrink: 0;
  text-align: center;
  background-color: tomato;
  color: white;
}
