$dark-blue: #0E111D;
$light-blue: #171C2E;
$card-border-width:  0px;
$card-bg: $dark-blue !default;
$card-border-radius: 5%;

.round-border {
    border-radius: 12%;
}

.card {
    padding: 1.5em;
}

.post__caption {
    font-size: 22px;
}

.post__owner {
    display: flex;
    flex-direction: row;
}

.post__owner-img {
    margin-right: 15px;
}

.post__owner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
}

.post__owner-text__name {
    font-weight: 700;
    font-size: 18px;
    padding: 0px;
    margin: 0px;
}

.usersearch-text__name {
    font-weight: 700;
    font-size: 15px;
    padding: 0px;
    margin: 0px;
}

.post__owner-text__label {
    font-weight: 300;
    font-size: 12px;
    color: #8D8D8D;
}

.post__movie {
    text-align: left;
}

.post__movie-title {
    font-weight: 700;
}

.post__movie-title-date {
    font-weight: 300;
    font-size: 18px;
}

.post__movie-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 180%;
}

.bold {
    font-weight: 700;
}

.movie__container {
    position: relative;
    width: 100%;
}

.movie__overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    text-align: center;
}

.movie__poster {
    width: 100%;
    height: auto;
    border-radius: 10%;
    cursor: pointer;
}

.movie__container:hover .movie__poster {
    background-color: black;
    opacity: 0.15;
  }
  
  .movie__container:hover .movie__overlay {
    opacity: 1;
  }

.scrollable-div {
    overflow-y: scroll;
    height: 100vh;
}

.scrollable-div::-webkit-scrollbar {
    display: none;
  }
  

@import "../node_modules/bootstrap/scss/bootstrap";
